.hidden {
  display: none;
}

.shown {
  display: block;
}

.shown :global(.swiper) {
  height: auto;
  margin: 0 auto;
  width: 90%;
}

.toggleButton {
  cursor: pointer;
  position: relative;
  width: 100%;
  z-index: 9;
}

.toggleButton img {
  height: 28px;
  width: 28px;
}
