// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00a3d3;
  --ion-color-primary-rgb: 0,163,211;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #008fba;
  --ion-color-primary-tint: #1aacd7;

  /** secondary **/
  --ion-color-secondary: #28C89e;
  --ion-color-secondary-rgb: 40,200,158;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #23b08b;
  --ion-color-secondary-tint: #3ecea8;

  /** tertiary **/
  --ion-color-tertiary: #EEDD8f;
  --ion-color-tertiary-rgb: 238,221,143;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d1c27e;
  --ion-color-tertiary-tint: #f0e09a;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #FF781F;
  --ion-color-warning-rgb: 236,155,35;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d0881f;
  --ion-color-warning-tint: #eea539;

  /** danger **/
  --ion-color-danger: #CD3636;
  --ion-color-danger-rgb: 205,54,54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b43030;
  --ion-color-danger-tint: #d24a4a;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** transparent **/
  --ion-color-transparent: rgba(0, 0, 0, 0);
  --ion-color-transparent-rgb: rgba(0, 0, 0, 0);
  --ion-color-transparent-contrast: rgba(0, 0, 0, 0);
  --ion-color-transparent-contrast-rgb: rgba(0, 0, 0, 0);
  --ion-color-transparent-shade: rgba(0, 0, 0, 0);
  --ion-color-transparent-tint: rgba(0, 0, 0, 0);


  // bootstrap variables for kits theme:
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #00456f;
  --bs-secondary: #00a3d3;
  --bs-success: #50c878;
  --bs-info: #55ffff;
  --bs-warning: #ffaa00;
  --bs-danger: #bb3535;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 0, 69, 111;
  --bs-secondary-rgb: 0, 163, 211;
  --bs-success-rgb: 80, 200, 120;
  --bs-info-rgb: 85, 255, 255;
  --bs-warning-rgb: 255, 170, 0;
  --bs-danger-rgb: 187, 53, 53;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-gradient: linear-gradient(180deg, rgb(0, 69, 111) 0%, rgb(0, 163, 211) 100%);
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgb(0, 69, 111) 0%, rgb(0, 163, 211) 100%);
  --bs-body-font-family: FiraSans;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #00456f;
  --bs-link-hover-color: #003759;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd
}
