<ion-content [fullscreen]="true" (window:resize)="onResize($event)">
  <div class="order-1">
    <div class="">
      <div class="d-lg-none">
        <div id="static-footer" class="footer fixed-bottom bg-gradient bg-gradient-primary">
          <div class="row">
            <div class="d-flex align-items-center">
              <div class="col-1 col-sm-2">
                <a href="/" title="StopClip">
                  <img id="static-footer-logo" src="/assets/kits/images/stop-motion-logo.svg" class="img-fluid d-block" width="100%"
                    alt="StopClip Logo" />
                </a>
              </div>
              <div class="col-11 col-sm-10 d-flex justify-content-end">
                <a href="https://github.com/kitsteam/stop-motion-app" class="text-white px-lg-2 p-2 text-decoration-none">
                  GitHub
                </a>
                <a href="https://kits.blog/impressum/" class="text-white px-lg-2 p-2 text-decoration-none">
                  Impressum
                </a>
                <a href="https://kits.blog/datenschutzerklaerung/" class="text-white p-2 text-decoration-none">
                  Datenschutz
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block">
        <!-- Left Block -->
        <div id="left-column"
          class="order float-start position-fixed vh-100 bg-gradient bg-gradient-primary w-50 d-flex flex-column align-items-center justify-content-between"
          [attr.style]="('height:' + height + 'px !important')">
          <div></div>
          <div>
            <a href=" /" title="StopClip">
              <img src="/assets/kits/images/stop-motion-logo.svg" class="img-fluid d-block" alt="StopClip Logo" />
            </a>
          </div>
          <div id="footer-links" class="d-flex align-items-center mb-1">
            <a href="https://github.com/kitsteam/stop-motion-app" class="text-white px-lg-2 p-2 text-decoration-none">
              GitHub
            </a>
            <a href="https://kits.blog/impressum/" class="text-white px-lg-2 p-2 text-decoration-none">
              Impressum
            </a>
            <a href="https://kits.blog/datenschutzerklaerung/" class="text-white p-2 text-decoration-none">
              Datenschutz
            </a>
          </div>
        </div>
        <!-- End Left Block -->
      </div>
    </div>
    <!-- Right Block -->
    <div class="w-50 float-end d-flex flex-column align-items-stretch justify-content-between vh-100">
      <div class="g-0 d-flex justify-content-end px-3">
        <div id="kits-logo" class="pt-3">
          <a href="https://kits.blog/tools/"><img src="./assets/kits/images/kits-logo.svg" class="img-fluid d-block" alt="Kits Logo" /></a>
        </div>
      </div>
      <div class="row g-0 h-100">
        <div id="content" class="container w-90 d-flex align-content-center flex-wrap">
          <div id="call-to-action-block">
            <h1 class="fw-bold">
              <a class="text-decoration-none" href="/" title="StopClip">StopClip</a>
            </h1>

            <ul class="list-group list-unstyled mb-3">
              <li class="list-group-item pb-2">Erstelle einen Stop-Motion-Clip!</li>
              <li class="list-group-item pb-2">Vertone deine Aufnahme!</li>
              <li class="list-group-item pb-2">Exportiere deinen Clip als GIF!</li>
            </ul>
            <button routerLink="/animator" class="ion-margin-top btn btn-primary">
              {{ "buttons_home_start" | translate }}
            </button>
            <p class="form-text text-muted mt-3">
              Dieses Tool darf nur in Bildungskontexten genutzt werden. Die Eingabe personenbezogener Daten ist
              nicht gestattet.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Right Block -->
  </div>
</ion-content>