name: frontend_on_push_branch_execute_ci_cd

on:
  push:
    branches: [main]
  # See https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestbranchestags
  pull_request:
    # Only branches and tags on the base are evaluated
    branches: [main]

env:
  NODE_VERSION: "22.20"

jobs:
  yarn_tasks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        task: [test:ci, lint]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Enable Corepack
        run: corepack enable
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "yarn"
      - run: yarn install --immutable
      - run: yarn ${{ matrix.task }}
